<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>接口目录</title>
</head>
<body>
<a href="/alipay/pagePay/" target="_blank">支付宝-电脑网站支付</a><br>
<a href="/alipay/wapPay/" target="_blank">支付宝-手机网站支付</a><br>
<a href="/alipay/scanCodePay/" target="_blank">支付宝-扫码支付(主扫)</a><br>
<a href="/alipay/barcodePay/" target="_blank">支付宝-条码支付(被扫)</a><br>
</body>
</html>