<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/plugins/form-field-tooltip/css/form-field-tooltip.css" rel="stylesheet">
    <title>支付宝-条码支付</title>
    <style>
        body {
            background-color: #EEEEEE;
            font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
        }

        fieldset {
            width: 720px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div id="mainContainer">
    <h1>支付宝-条码支付</h1>
    <fieldset>
        <legend>介绍</legend>
        <div>条码支付是支付宝给到线下传统行业的一种收款方式。商家使用扫码枪等条码识别设备扫描用户支付宝钱包上的条码/二维码，完成收款。用户仅需出示付款码，所有收款操作由商家端完成。</div>
    </fieldset>

    <fieldset>
        <legend>操作</legend>
        <input style="height: 40px;width: 150px;" type="button" value="保存参数" onclick='sendRequest()'/>
    </fieldset>
    <form id="alipay_form" autocomplete="off" method="post" action="/alipay/barcodePay/save">
        <fieldset>
            <legend>公共参数</legend>
            <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
                <tbody>
                <tr>
                    <td style="vertical-align: top; width: 25%;">支付宝网关:
                    </td>
                    <td style="vertical-align: top; width: 75%;">
                        <select style="width: 100%" name="server_url">
                            <option value="https://openapi.alipaydev.com/gateway.do">沙箱环境</option>
                            <option value="https://openapi.alipay.com/gateway.do">正式环境</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; width: 25%;">支付宝公钥:
                    </td>
                    <td style="vertical-align: top; width: 75%;">
                        <textarea style="width: 100%;min-height: 120px;max-height: 120px;" id="alipay_public_key"
                                  name="alipay_public_key" placeholder="必填">${session.alipay_public_key}</textarea>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; width: 25%;">商户私钥:
                    </td>
                    <td style="vertical-align: top; width: 75%;">
                        <textarea style="width: 100%;min-height: 120px;max-height: 120px;" id="merchant_private_key"
                                  name="merchant_private_key"
                                  placeholder="必填">${session.merchant_private_key}</textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend>
                请求基本参数
            </legend>
            <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
                <tbody>
                <tr>
                    <td style="vertical-align: top; width: 25%;">应用ID:</td>
                    <td style="vertical-align: top; width: 75%;">
                        <input style="width: 100%;" id="app_id" name="app_id" value="${session.app_id}"
                               placeholder="必填,示例：2014072300007148"
                               tooltipText="支付宝分配给开发者的应用ID<br>示例：2014072300007148">
                    </td>
                </tr>

                <tr>
                    <td style="vertical-align: top; width: 25%;">字符编码:</td>
                    <td style="vertical-align: top; width: 75%;">
                        <input style="width: 100%;" id="charset" name="charset" value="utf-8" readonly>
                    </td>
                </tr>

                <tr>
                    <td style="vertical-align: top; width: 25%;">签名类型:</td>
                    <td style="vertical-align: top; width: 75%;">
                        <input style="width: 100%;" id="sign_type" name="sign_type" value="RSA2" readonly>
                    </td>
                </tr>

                <tr>
                    <td style="vertical-align: top; width: 25%;">接口版本:</td>
                    <td style="vertical-align: top; width: 75%;">
                        <input style="width: 100%;" id="version" name="version" value="1.0" readonly>
                    </td>
                </tr>

                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend>扫描枪接口地址</legend>
            <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
                <tbody>
                <tr>
                    <td style="vertical-align: top; width: 25%;">接口地址:</td>
                    <td style="vertical-align: top; width: 75%;">
                        <input style="width: 100%;" id="api_url" name="api_url" value="${apiUrl}" disabled readonly>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>
<script src="/plugins/form-field-tooltip/js/rounded-corners.js"></script>
<script src="/plugins/form-field-tooltip/js/form-field-tooltip.js"></script>
<script src="/plugins/jquery.min.js"></script>
<script>

    function sendRequest() {
        $("#alipay_form").submit();
    }

    var tooltipObj = new DHTMLgoodies_formTooltip();
    tooltipObj.setTooltipPosition('right');
    tooltipObj.imagePath = "/plugins/form-field-tooltip/images/";
    tooltipObj.setPageBgColor('#EEEEEE');
    tooltipObj.setTooltipCornerSize(15);
    tooltipObj.setCloseMessage("关闭");
    tooltipObj.setDisableTooltipMessage("关闭提示");
    tooltipObj.initFormFieldTooltip();
</script>
</body>
</html>