@layout("../layout/base.html",{title:"支付宝-条码支付（被扫）"},"__CONTENT__"){
<div class="alert alert-warning" role="alert">请将接口地址填入扫描枪模拟器中</div>
<form class="form-horizontal">
    <div class="form-group">
        <label for="apiUrl" class="col-sm-2 control-label">接口地址</label>
        <div class="col-sm-8">
            <div class="input-group">
                <input class="form-control" id="apiUrl" name="apiUrl"
                       value="${apiUrl!}"
                       placeholder="接口地址">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-clipboard data-clipboard-target="#apiUrl">
                            <span class="glyphicon glyphicon-copy"></span>
                        </button>
                    </span>
            </div>
        </div>
    </div>
</form>
<script src="/plugins/lib/clipboard.min.js"></script>
<script>
    var clipboardDemos = new ClipboardJS('[data-clipboard]');
    clipboardDemos.on('success', function (e) {
        e.clearSelection();
    });
    clipboardDemos.on('error', function (e) {
    });
</script>
@}